In [8]:
a=10
b=90
c=a+b 
print(c)

100

In [14]:
data=[1,,2,3,4,5,6,7,8,9,10]
stop_val = int(input('enter the number to stop it '))
counter =0
for i in data:
  if stop_val == 1
         break
    print(i)
    counter += 1
  print(f'count :{counter} ')
  if counter == len(data):

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 7)

In [10]:
# sum of all digits 12345 => 1=2+3+4+5=15
num = int(input("Enter a number:"))
total =0
while num > 0:
    total+=num % 10
    num = num // 10
    print(total)

0
1

In [9]:
# sum of all digits 12345 => 1=2+3+4+5=15
num = int(input("Enter a number:"))
total =0
while num > 0:
    total+=num % 10
    num = num // 10
    print(total)

5
9
12
14
15

In [3]:
msg = "journey before destination"
msg[-11:]

'destination'

In [4]:
msg ="once upon a time"
msg[-7:]

' a time'

In [6]:
amt = '$80999'
amt=int(amt[1:])
print(amt)

80999

In [8]:
msg[::2] # every second character (even index)

'oc pnatm'

In [12]:
msg[1::2] # every 2nd character (odd index)

'neuo  ie'

In [13]:
# most OP thing on slicing 
msg[::-1] # reserve the string

'emit a nopu ecno'

In [14]:
msg[::-1][:5]

'emit '

## string methods
- formating 
- validation 
- find & replace
- etc.

In [31]:
quote = "All the glitter is not Gold"
quote_upper = quote.upper()
print(quote)
print(quote_upper)
quote_lower = quote.lower()
print(quote_lower)
quote_captalize =quote.capitalize()
print(quote_captalize)
quote_casefold=quote.casefold()
print(quote_casefold)
quote_rjust = quote.rjust(50,'_')
print(quote_rjust)
quote_center = quote.center(50,'*')
print(quote_center)

All the glitter is not Gold
ALL THE GLITTER IS NOT GOLD
all the glitter is not gold
All the glitter is not gold
all the glitter is not gold
_______________________All the glitter is not Gold
***********All the glitter is not Gold************

In [32]:
fname = input("enter the name (do not use number)")
if fname.isalpha():
    print("valid name,very good")
else:
    print("what kind if name is this")

valid name,very good

In [34]:
# find and index methods for searching in string 
msg.find('place') # return the index of the first occurence of the substring

-1

In [41]:
data ="""Roshar is a place of magic and wonder,
place of knight and kings .git.
it is a place of highstrome"""
print(data.find('place'))
print(data.find('place',13)) # 13 is starting index for seaching 
print(data.find('Place')) # -1 means not found 
# reverse find 
print(data.rfind('place')) # return the index of the last of occurence of substring

12
39
-1
79

In [42]:
# replace methods
data.replace('place','world')

'Roshar is a world of magic and wonder,\nworld of knight and kings .git.\nit is a world of highstrome'

In [43]:
data.replace('o','a')

'Rashar is a place af magic and wander,\nplace af knight and kings .git.\nit is a place af highstrame'

In [44]:
data.replace('e','a').replace('o','i').replace('h','t')

'Ristar is a placa if magic and windar,\nplaca if knigtt and kings .git.\nit is a placa if tigtstrima'

In [47]:
print(data.replace(' ','_',3))

Roshar_is_a_place of magic and wonder,
place of knight and kings .git.
it is a place of highstrome

## split function

In [2]:
fruits = input("enter the name of fruits")
print(len(fruits))
print(fruits)
fruitlist = fruits.split()
print(fruitlist)

19
apple mango bnanana
['apple', 'mango', 'bnanana']

In [3]:
'aayush prajapti'.split()

['aayush', 'prajapti']

In [4]:
'this is so boaring'.split()

['this', 'is', 'so', 'boaring']

In [6]:
quote = "life before death , strnght before weakeness, journey before destinstion"
quote.split(',')

['life before death ',
 ' strnght before weakeness',
 ' journey before destinstion']

In [7]:
quote.split('before')

['life ', ' death , strnght ', ' weakeness, journey ', ' destinstion']

In [8]:
poem ='''johnny johnny yes papa
eating sugar?no papa
telling lies?no papa'''
poem.splitlines()

['johnny johnny yes papa', 'eating sugar?no papa', 'telling lies?no papa']

## join function

In [10]:
addr  = ['c:','user','aayush','desktop','file.text']
"/".join(addr)

'c:/user/aayush/desktop/file.text'

In [12]:
data = input("enter the name , mounth and yeera of birth seperated byy coma :")
word = data.split(',')
print(word)
name = "_".join(word)
print(f'img_{name}.jpg')

['aayush', 'march', '2024']
img_aayush_march_2024.jpg

## questions

In [42]:
#question 1,2
num = "aayush"
print(num)
print(len(num))

aayush
6

In [43]:
# question 3
data = "python is great"
data[9:]

' great'

In [30]:
#que 4
word = "hello world"
word[::-1]

'dlrow olleh'

In [37]:
#ques 5
name = "python is everwhere"
word= name.split(" ")
print(word[0])
print(word[1])
print(word[2])

python
is
everwhere

In [38]:
# ques 6
data = "how are you?"
data_upper = data.upper()
print(data_upper)

HOW ARE YOU?

In [39]:
# que 7
num = "HOW IT IS GOING?"
num_lower = num.lower()
print(num_lower)

how it is going?

In [40]:
# que 8
words = ['python','is','easy','to','learn']
" ".join(words)

'python is easy to learn'

In [41]:
# que 9
data = " aayush"
num ="10"
words =(num,data)
print(words)

('10', ' aayush')

In [45]:
# que 10
print("move to new line '\n' is used")
print("move to new line '\\n' is used")

move to new line '
' is used
move to new line '\n' is used

### count methods

In [47]:
quote = "life before death , strnght before weakeness, journey before destinstion"
n = quote.count('before')
print(f'before occurs {n} time in quotes')

before occurs 3 time in quotes

In [49]:
quote.count('e')

13

## start with , end with

In [51]:
'Mr bean'.startswith('Mr')

True

In [53]:
name = input('enter the name')
if name.startswith('Mr'):
    print("hello sir")
else:
    print('something wrong')

something wrong

In [ ]:
filename = input('enter the file name')
print(f"filenmane:{filename}")
if filename.endswith('csv')
   print("dataset file")
elif filename.endswith('txt')
    print("format file")
else:
    print("file donot exit")

In [1]:
#strip
movie = input('enter the movie name:')
clean_movie = movie.strip()
print(movie)
print(clean_movie)

    ....munjhya
....munjhya

In [59]:
print('\n\n\nhello\n\n\n'.strip())

hello

In [60]:
print(',,,,,,,hello*****'.strip(',*')) # remove all comas and star

hello

In [4]:
from string import punctuation
print(punctuation)
text = '*/%$@&*34!*_*!t78hbyu#&**%404'
for i in punctuation+'0123456789':
    text = text.replace(i,"")
    print(text)

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~
*/%$@&*34*_*t78hbyu#&**%404
*/%$@&*34*_*t78hbyu#&**%404
*/%$@&*34*_*t78hbyu&**%404
*/%@&*34*_*t78hbyu&**%404
*/@&*34*_*t78hbyu&**404
*/@*34*_*t78hbyu**404
*/@*34*_*t78hbyu**404
*/@*34*_*t78hbyu**404
*/@*34*_*t78hbyu**404
/@34_t78hbyu404
/@34_t78hbyu404
/@34_t78hbyu404
/@34_t78hbyu404
/@34_t78hbyu404
@34_t78hbyu404
@34_t78hbyu404
@34_t78hbyu404
@34_t78hbyu404
@34_t78hbyu404
@34_t78hbyu404
@34_t78hbyu404
34_t78hbyu404
34_t78hbyu404
34_t78hbyu404
34_t78hbyu404
34_t78hbyu404
34t78hbyu404
34t78hbyu404
34t78hbyu404
34t78hbyu404
34t78hbyu404
34t78hbyu404
34t78hbyu44
34t78hbyu44
34t78hbyu44
4t78hbyu44
t78hbyu
t78hbyu
t78hbyu
t8hbyu
thbyu
thbyu

In [5]:
a = "hello"
a= a.replace('1','')
print(a)

hello

In [12]:
sentence = 'this is a paragraph which is written just for the purpose of providing content to let the average word length be calculated'
total = 0
for word in sentence.split():
  total += len(word)
  print(total/len(sentence.split()))

0.18181818181818182
0.2727272727272727
0.3181818181818182
0.7272727272727273
0.9545454545454546
1.0454545454545454
1.3636363636363635
1.5454545454545454
1.6818181818181819
1.8181818181818181
2.1363636363636362
2.227272727272727
2.6363636363636362
2.9545454545454546
3.0454545454545454
3.1818181818181817
3.3181818181818183
3.6363636363636362
3.8181818181818183
4.090909090909091
4.181818181818182
4.636363636363637