In [3]:
list=[1,2,'disha']
print(list)
print(type(list))

[1, 2, 'disha']
<class 'list'>

In [14]:
my=(1,2,3,4)
print(type(my))
disha=list(my)
print(type(disha))

<class 'tuple'>

TypeError: 'list' object is not callable

In [16]:
myset={'disha'}
print(myset)
print(type(myset))

{'disha'}
<class 'set'>

In [25]:
my_dict = {
    "name":"disha",
    "age":19
}
print(my_dict)
print(my_dict["age"])
print(my_dict["name"])

{'name': 'disha', 'age': 19}
19
disha

Operators

- Arithmetic
- Assignment
- Comparison
- Logical
- Identity
- Membership

In [31]:
x=30
y=20
print(x+y)#addition
print(x-y)
print(x*y)
print(x/y)
print(x%y)#gives remainder
print(x//y)#floor division

50
10
600
1.5
10
1

In [6]:
x=10
x+=10
print(x)
x-=10
print(x)
x*=10
print(x)
x/=10
print(x)
x//=10
print(x)
x%=10
print(x)

20
10
100
10.0
1.0
1.0

In [7]:
a=int(input("enter first value:"))
b=int(input("enter second value:"))
if a>b:
    print('a')
else:
    print('invalid')

invalid

In [18]:
a=5
b=10
print(a<b and a==b)
print(a<b or a>b)
print(not(a<b and b>a))

False
True
False

In [22]:
a=[1,2,3]
b=[1,2,3]
y=a
print(a is y)
print(b is not y)
print(a==b)
print(b is y)

True
True
True
False

In [26]:
a=[1,2,3,4]
b=[5,6,7,8]
print(a not in b)
print(a in b)

True
False