list -> indexed - ordered - mutable - contains duplicates - just values - [] - list() 

  tuple-> indexed - ordered - immutable - contains duplicates - just values - () - tuple()
  
  set-> unindexed - unordered - mutable - only unique values - just values - {} - set()
  
  dictionary-> unindexed - ordered - mutable - contains duplicates - key value pairs - {} - dict()
  
all are heterogenous(mixed values)

# list
- creating
- indexing n slicing(same as string)
- methods
- comprehension

In [1]:
a=[]#empty list
b=[1,2,3,4]#numerical list
c=['apple','banana','cherry']#string list
d=['apple',1,'banana',2,'cherry',3]#mixed list
e=[[1,2,3],[4,5,6],[7,8,9]]#list of lists
f=[['apple',1],['banana',2],['cherry',3,120]]
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

[]
[1, 2, 3, 4]
['apple', 'banana', 'cherry']
['apple', 1, 'banana', 2, 'cherry', 3]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[['apple', 1], ['banana', 2], ['cherry', 3, 120]]

In [2]:
for i in b:
    print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4]

In [5]:
g=list('hello')
h=list(range(10))
i=list((1,2,3,4,5))
j=[1,2]*10 #duplicate list
print(g)
print(h)
print(i)
print(j)

['h', 'e', 'l', 'l', 'o']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5]
[1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2]

In [6]:
movies=['Jab we met','Tamasha','Rockstar','Kal ho na ho','Annabelle']
print(movies)
print(len(movies))
print('first movie: ',movies[0])
print('last movie: ',movies[-1])
print('second movie: ',movies[1])
print('third movie: ',movies[2])

['Jab we met', 'Tamasha', 'Rockstar', 'Kal ho na ho', 'Annabelle']
5
first movie:  Jab we met
last movie:  Annabelle
second movie:  Tamasha
third movie:  Rockstar

In [9]:
numbers=[1,2,3,4,5,6,7,8,9,10]
print(numbers[:3])
print(numbers[-3:])
print(numbers[2:-2])
print(numbers[::-1])

[1, 2, 3]
[8, 9, 10]
[3, 4, 5, 6, 7, 8]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

# list methods (11)
- adding/updating
  - `append()`
  - `extend()`
  - `insert()`
- removing/deleting
  - `remove()`
  - `pop()`
  - `clear()`
- utility
  - `sort()`
  - `reverse()`
  - `index()`
  - `count()`
  - `copy()`

In [10]:
fav_books=[]
hated_books=[]
for i in range(5):
    book=input('enter your fav book:')
    fav_books.append(book)
for i in range(3):
    book=input('enter your hated book:')
    hated_books.append(book)

print('fav books:',fav_books)
print('hated books:',hated_books)

fav books: ['othello', 'i dont love you anymors', 'warmth', 'the girl', 'end']
hated books: ['maths', 'physics', 'history']

In [11]:
#merge two lists creating a new list
books=fav_books+hated_books
print(books)

['othello', 'i dont love you anymors', 'warmth', 'the girl', 'end', 'maths', 'physics', 'history']

In [12]:
#adding alist to existing list
books.extend(['love','hate'])
print(books)
print('total books:',len(books))

['othello', 'i dont love you anymors', 'warmth', 'the girl', 'end', 'maths', 'physics', 'history', 'love', 'hate']
total books: 10

In [14]:
books.append(['Julius Caeser','dark'])#nesting
print(books)

['othello', 'i dont love you anymors', 'warmth', 'the girl', 'end', 'maths', 'physics', 'history', 'love', 'hate', 'Julius Caeser', ['Julius Caeser', 'dark']]

In [15]:
books.insert?

Signature: books.insert(index, object, /)
Docstring: Insert object before index.
Type:      builtin_function_or_method

In [18]:
books.insert(2,'harry potter')
print(books)

['othello', 'i dont love you anymors', 'harry potter', 'warmth', 'the girl', 'end', 'maths', 'physics', 'history', 'love', 'hate', 'Julius Caeser', ['Julius Caeser', 'dark']]

In [20]:
books[8]='Pinnochio'# replace
print(books)

['othello', 'i dont love you anymors', 'harry potter', 'warmth', 'the girl', 'end', 'maths', 'physics', 'Pinnochio', 'love', 'hate', 'Julius Caeser', ['Julius Caeser', 'dark']]

In [21]:
books.remove('end')#remove by value
print(books)

['othello', 'i dont love you anymors', 'harry potter', 'warmth', 'the girl', 'maths', 'physics', 'Pinnochio', 'love', 'hate', 'Julius Caeser', ['Julius Caeser', 'dark']]

In [23]:
books.pop(4)#remove by index
print(books)

['othello', 'i dont love you anymors', 'harry potter', 'warmth', 'physics', 'Pinnochio', 'love', 'hate', 'Julius Caeser', ['Julius Caeser', 'dark']]

In [ ]:
books.pop()#removes last element

In [25]:
hated_books.clear()
print(hated_books)

[]

# wap to create an empty list,then fill the list with 10 prime numbers using a loop , starting with 2

In [1]:
numbers=[4,5,6,35,34,56,23,8,9,22]
#reverse
numbers[::-1]

[22, 9, 8, 23, 56, 34, 35, 6, 5, 4]

In [2]:
numbers.reverse()#changes the original list

In [3]:
print(numbers)

[22, 9, 8, 23, 56, 34, 35, 6, 5, 4]

In [6]:
numbers.sort()#ascending order,changes the original list
print(numbers)
numbers.sort(reverse=True)#descending order
print(numbers)

[4, 5, 6, 8, 9, 22, 23, 34, 35, 56]
[56, 35, 34, 23, 22, 9, 8, 6, 5, 4]

In [7]:
x=[[1,12],[2,5],[5,10],[4,15]]
x.sort()#sort by first element of each sublist
print(x)

[[1, 12], [2, 5], [4, 15], [5, 10]]

In [11]:
x.sort(key=lambda e:e[1])
print(x)

[[2, 5], [5, 10], [1, 12], [4, 15]]

In [12]:
x.sort(key=lambda i:sum(i))
print(x)

[[2, 5], [1, 12], [5, 10], [4, 15]]

In [17]:
users=[('Alice',25),('Bob',19),('Alex',35)]
users.sort(key=lambda e:e[1])
print(users)

[('Bob', 19), ('Alice', 25), ('Alex', 35)]

In [15]:
cart=[
    ['mobile',25000,2],
    ['laptop',60000,1],
    ['watch',3000,3],
    ['headphone',1500,2]
    ]
cart.sort(key=lambda e:e[2])
print(cart)

[['laptop', 60000, 1], ['mobile', 25000, 2], ['headphone', 1500, 2], ['watch', 3000, 3]]

In [19]:
a=[1,2,3,4,1,1,1,2,5,4,4,3,4,3,5,5,5,5,5]
print('1 occurs:',a.count(1))
print('5 occurs:',a.count(5))

1 occurs: 4
5 occurs: 6

In [21]:
numbers.index(22)# gives index of 12(first occurance)

4

In [24]:
a=[1,2,3,4,5]
b=a.copy()#shallow copy
c=a #reference copy
print(a)
print(b)
print(c)
a.append(6)
b.append(10)
c.append(20)
print(a)
print(b)
print(c)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 20]
[1, 2, 3, 4, 5, 10]
[1, 2, 3, 4, 5, 6, 20]

## comprehension

In [25]:
a=[1,2,3,4,5]
a3=[i**3 for i in a]
print(a)
print(a3)
a5=[i-5 for i in a]
print(a5)

[1, 2, 3, 4, 5]
[1, 8, 27, 64, 125]
[-4, -3, -2, -1, 0]

In [26]:
a2=[i**2 for i in a if i%2==0]#pythonic
print(a2)

[4, 16]

In [43]:
names=['Alice Smith','Bob Brown','Charlie Green','David steele White']
initial=[]
for n in names:
    parts=n.split()
    initial.append(f'{parts[0][0]}{parts[-1][0]}')
print(initial)
#comprehension
initial=[f'{n.split()[0][0]}{n.split()[-1][0]}' for n in names]
print(initial)

['AS', 'BB', 'CG', 'DW']
['AS', 'BB', 'CG', 'DW']