list -> indexed - ordered - mutable - contains duplicates - just values - [] - list() 

  tuple-> indexed - ordered - immutable - contains duplicates - just values - () - tuple()
  
  set-> unindexed - unordered - mutable - only unique values - just values - {} - set()
  
  dictionary-> unindexed - ordered - mutable - contains duplicates - key value pairs - {} - dict()
  
all are heterogenous(mixed values)

# list
- creating
- indexing n slicing(same as string)
- methods
- comprehension

In [1]:
a=[]#empty list
b=[1,2,3,4]#numerical list
c=['apple','banana','cherry']#string list
d=['apple',1,'banana',2,'cherry',3]#mixed list
e=[[1,2,3],[4,5,6],[7,8,9]]#list of lists
f=[['apple',1],['banana',2],['cherry',3,120]]
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

[]
[1, 2, 3, 4]
['apple', 'banana', 'cherry']
['apple', 1, 'banana', 2, 'cherry', 3]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[['apple', 1], ['banana', 2], ['cherry', 3, 120]]

In [2]:
for i in b:
    print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4]

In [5]:
g=list('hello')
h=list(range(10))
i=list((1,2,3,4,5))
j=[1,2]*10 #duplicate list
print(g)
print(h)
print(i)
print(j)

['h', 'e', 'l', 'l', 'o']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5]
[1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2]

In [6]:
movies=['Jab we met','Tamasha','Rockstar','Kal ho na ho','Annabelle']
print(movies)
print(len(movies))
print('first movie: ',movies[0])
print('last movie: ',movies[-1])
print('second movie: ',movies[1])
print('third movie: ',movies[2])

['Jab we met', 'Tamasha', 'Rockstar', 'Kal ho na ho', 'Annabelle']
5
first movie:  Jab we met
last movie:  Annabelle
second movie:  Tamasha
third movie:  Rockstar

In [9]:
numbers=[1,2,3,4,5,6,7,8,9,10]
print(numbers[:3])
print(numbers[-3:])
print(numbers[2:-2])
print(numbers[::-1])

[1, 2, 3]
[8, 9, 10]
[3, 4, 5, 6, 7, 8]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

# list methods (11)
- adding/updating
  - `append()`
  - `extend()`
  - `insert()`
- removing/deleting
  - `remove()`
  - `pop()`
  - `clear()`
- utility
  - `sort()`
  - `reverse()`
  - `index()`
  - `count()`
  - `copy()`

In [10]:
fav_books=[]
hated_books=[]
for i in range(5):
    book=input('enter your fav book:')
    fav_books.append(book)
for i in range(3):
    book=input('enter your hated book:')
    hated_books.append(book)

print('fav books:',fav_books)
print('hated books:',hated_books)

fav books: ['othello', 'i dont love you anymors', 'warmth', 'the girl', 'end']
hated books: ['maths', 'physics', 'history']

In [11]:
#merge two lists creating a new list
books=fav_books+hated_books
print(books)

['othello', 'i dont love you anymors', 'warmth', 'the girl', 'end', 'maths', 'physics', 'history']

In [12]:
#adding alist to existing list
books.extend(['love','hate'])
print(books)
print('total books:',len(books))

['othello', 'i dont love you anymors', 'warmth', 'the girl', 'end', 'maths', 'physics', 'history', 'love', 'hate']
total books: 10

In [14]:
books.append(['Julius Caeser','dark'])#nesting
print(books)

['othello', 'i dont love you anymors', 'warmth', 'the girl', 'end', 'maths', 'physics', 'history', 'love', 'hate', 'Julius Caeser', ['Julius Caeser', 'dark']]

In [15]:
books.insert?

Signature: books.insert(index, object, /)
Docstring: Insert object before index.
Type:      builtin_function_or_method

In [18]:
books.insert(2,'harry potter')
print(books)

['othello', 'i dont love you anymors', 'harry potter', 'warmth', 'the girl', 'end', 'maths', 'physics', 'history', 'love', 'hate', 'Julius Caeser', ['Julius Caeser', 'dark']]

In [20]:
books[8]='Pinnochio'# replace
print(books)

['othello', 'i dont love you anymors', 'harry potter', 'warmth', 'the girl', 'end', 'maths', 'physics', 'Pinnochio', 'love', 'hate', 'Julius Caeser', ['Julius Caeser', 'dark']]

In [21]:
books.remove('end')#remove by value
print(books)

['othello', 'i dont love you anymors', 'harry potter', 'warmth', 'the girl', 'maths', 'physics', 'Pinnochio', 'love', 'hate', 'Julius Caeser', ['Julius Caeser', 'dark']]

In [23]:
books.pop(4)#remove by index
print(books)

['othello', 'i dont love you anymors', 'harry potter', 'warmth', 'physics', 'Pinnochio', 'love', 'hate', 'Julius Caeser', ['Julius Caeser', 'dark']]

In [ ]:
books.pop()#removes last element

In [25]:
hated_books.clear()
print(hated_books)

[]

# wap to create an empty list,then fill the list with 10 prime numbers using a loop , starting with 2

In [1]:
numbers=[4,5,6,35,34,56,23,8,9,22]
#reverse
numbers[::-1]

[22, 9, 8, 23, 56, 34, 35, 6, 5, 4]

In [2]:
numbers.reverse()#changes the original list

In [3]:
print(numbers)

[22, 9, 8, 23, 56, 34, 35, 6, 5, 4]

In [6]:
numbers.sort()#ascending order,changes the original list
print(numbers)
numbers.sort(reverse=True)#descending order
print(numbers)

[4, 5, 6, 8, 9, 22, 23, 34, 35, 56]
[56, 35, 34, 23, 22, 9, 8, 6, 5, 4]

In [7]:
x=[[1,12],[2,5],[5,10],[4,15]]
x.sort()#sort by first element of each sublist
print(x)

[[1, 12], [2, 5], [4, 15], [5, 10]]

In [11]:
x.sort(key=lambda e:e[1])
print(x)

[[2, 5], [5, 10], [1, 12], [4, 15]]

In [12]:
x.sort(key=lambda i:sum(i))
print(x)

[[2, 5], [1, 12], [5, 10], [4, 15]]

In [17]:
users=[('Alice',25),('Bob',19),('Alex',35)]
users.sort(key=lambda e:e[1])
print(users)

[('Bob', 19), ('Alice', 25), ('Alex', 35)]

In [15]:
cart=[
    ['mobile',25000,2],
    ['laptop',60000,1],
    ['watch',3000,3],
    ['headphone',1500,2]
    ]
cart.sort(key=lambda e:e[2])
print(cart)

[['laptop', 60000, 1], ['mobile', 25000, 2], ['headphone', 1500, 2], ['watch', 3000, 3]]

In [19]:
a=[1,2,3,4,1,1,1,2,5,4,4,3,4,3,5,5,5,5,5]
print('1 occurs:',a.count(1))
print('5 occurs:',a.count(5))

1 occurs: 4
5 occurs: 6

In [21]:
numbers.index(22)# gives index of 12(first occurance)

4

In [24]:
a=[1,2,3,4,5]
b=a.copy()#shallow copy
c=a #reference copy
print(a)
print(b)
print(c)
a.append(6)
b.append(10)
c.append(20)
print(a)
print(b)
print(c)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 20]
[1, 2, 3, 4, 5, 10]
[1, 2, 3, 4, 5, 6, 20]

## comprehension

In [25]:
a=[1,2,3,4,5]
a3=[i**3 for i in a]
print(a)
print(a3)
a5=[i-5 for i in a]
print(a5)

[1, 2, 3, 4, 5]
[1, 8, 27, 64, 125]
[-4, -3, -2, -1, 0]

In [26]:
a2=[i**2 for i in a if i%2==0]#pythonic
print(a2)

[4, 16]

In [43]:
names=['Alice Smith','Bob Brown','Charlie Green','David steele White']
initial=[]
for n in names:
    parts=n.split()
    initial.append(f'{parts[0][0]}{parts[-1][0]}')
print(initial)
#comprehension
initial=[f'{n.split()[0][0]}{n.split()[-1][0]}' for n in names]
print(initial)

['AS', 'BB', 'CG', 'DW']
['AS', 'BB', 'CG', 'DW']

# tuples 
 - creating
 - indexing and slicing
 - methods
 - packing and unpacking

In [2]:
x=()#empty tuple
y=(1,)#single element tuple
z=(1,2,3,4,5)#multiple
print(x,y,z)
a=((1,2),(3,4),(5,6))#nested
b=('a',1,'b',2,'c',3)#mixed
print(a)
print(b)
c=(1,)*5 #duplicated tuple
print(c)
d=tuple('stormlight archives')#tuple from string
print(d)
e=tuple(range(10))#sequence to tuple
print(e)

() (1,) (1, 2, 3, 4, 5)
((1, 2), (3, 4), (5, 6))
('a', 1, 'b', 2, 'c', 3)
(1, 1, 1, 1, 1)
('s', 't', 'o', 'r', 'm', 'l', 'i', 'g', 'h', 't', ' ', 'a', 'r', 'c', 'h', 'i', 'v', 'e', 's')
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [3]:
e[4::-1]#-1 makes this go in reverse

(4, 3, 2, 1, 0)

In [6]:
# index (search) and count methods
fruits=('apple','banana','cherry','apple','cherry')
print(fruits.index('apple'))
print(fruits.index('apple',1))#search starts from index 1
print(fruits.count('apple'))#counts occurence of apple
print(fruits.count('banana'))
print(fruits.count('mango'))

0
3
2
1
0

In [7]:
x=1,2,3 #tuple packing
print(x)

(1, 2, 3)

In [10]:
def stats(*data):
    total=sum(data)
    avg=total/len(data)
    return total,round(avg,2)

In [11]:
s=stats(2,4,44,88,66)
print(s)

(204, 40.8)

In [13]:
a,b=12,45 #tuple unpacking
print(a,b)

12 45

In [ ]:
#unpacking errors(too many or less vlues assigned gives error)

In [14]:
a,b,*c=(1,2,3,4,5,5,5)#c is list
print(a)
print(b)
print(c)

1
2
[3, 4, 5, 5, 5]

In [17]:
a,b,*c=(2,3)
print(a)
print(b)
print(c)

2
3
[]

# set
 - creating
 - methods
 - set operation
   - union
   - intersection
   - difference
   - symmetric difference
   - issubset
   - issuperset

In [18]:
x=set()#empty set
y={1,2,3,4,5}#set with elements
z={1,2,3,3,4,4,4,5,5,5,5,5}#set removes duplicates
print(x)
print(y)
print(z)

set()
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [21]:
a=set('hello')#set from string
print(a)

{'l', 'h', 'e', 'o'}

In [24]:
b=set([24,26,44,46,48,66,64,68])
print(b)
c=set(range(10))
for i in c:
    print(i,end=' ')

{64, 66, 68, 44, 46, 48, 24, 26}
0 1 2 3 4 5 6 7 8 9

In [33]:
data=set()
data.add(12)
data.add(2)
data.add(12)
data.add(6)
print(data)

{2, 12, 6}

In [34]:
data.update([22,46,68,90])
print(data)

{2, 68, 6, 12, 46, 22, 90}

In [35]:
data.discard(22)#remove element
data.remove(46)# remove element(error if not present)
print(data)

{2, 68, 6, 12, 90}

In [36]:
data.pop()
print(data)

{68, 6, 12, 90}

In [37]:
#operations
a={1,2,3,4,5}
b={4,5,6,7,8}
c={11,12,13}
print(a.union(b))
print(a|b)#| is a union operator

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

In [38]:
print(a.intersection(b))
print(a&b)

{4, 5}
{4, 5}

In [39]:
print(a.difference(b))
print(a-b)
print(b-a)
print(b.difference(a))

{1, 2, 3}
{1, 2, 3}
{8, 6, 7}
{8, 6, 7}

In [40]:
print(a.symmetric_difference(b))
print(a^b)

{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}

In [42]:
d={1,2,3}
print(a.issuperset(b))
print(a.issuperset(d))
print(a.issuperset(c))

False
True
False

In [45]:
print(a.isdisjoint(d))
print(a.isdisjoint(b))
print(a.isdisjoint(c))

False
False
True

In [43]:
print(d.issubset(b))
print(d.issubset(a))
print(d.issubset(c))

False
True
False

# conversion

In [46]:
a=[1,2,3,4,5]
a_set=set(a)
a_tuple=tuple(a)
print(a)
print(a_set)
print(a_tuple)

[1, 2, 3, 4, 5]
{1, 2, 3, 4, 5}
(1, 2, 3, 4, 5)

In [48]:
x=[1,1,2,2,3,4,5,1,2,1,2,2,2,2,2,2,2]
print(x)
x=list(set(x))
print(x)

[1, 1, 2, 2, 3, 4, 5, 1, 2, 1, 2, 2, 2, 2, 2, 2, 2]
[1, 2, 3, 4, 5]

# dictionary
 - creation
 - traversal
 - methods
 - sorting
 - comprehension

syntax:
   {
      key:value,
      key:value,
      key:value,
   }

In [1]:
fruits={
    'apple':'red',
    'banana':'yellow',
    'cherry':'red',
    'orange':'orange',
}
print(fruits)

{'apple': 'red', 'banana': 'yellow', 'cherry': 'red', 'orange': 'orange'}

In [2]:
temp={
    'lucknow':[25,30,35],
    'delhi':[30,35,40],
    'chennai':[24,23,22],
}
print(temp)

{'lucknow': [25, 30, 35], 'delhi': [30, 35, 40], 'chennai': [24, 23, 22]}

In [3]:
nums={
    1:'ichi',
    10:'ju',
    100:'hyaku',
    1000:'sen'
}
print(nums)

{1: 'ichi', 10: 'ju', 100: 'hyaku', 1000: 'sen'}

In [4]:
complicated={
    (1,2):'double',
    (1,2,3):'triple',
    (1,2,3,4):'quadruple',
}
print(complicated)

{(1, 2): 'double', (1, 2, 3): 'triple', (1, 2, 3, 4): 'quadruple'}

In [5]:
info=dict(name='raju',age=25,marks=[53,76,78])
print(info)

{'name': 'raju', 'age': 25, 'marks': [53, 76, 78]}

In [12]:
#nested dictionary
report={
    'Alex': {
        'English':85,
        'Maths':90,
        'Science':78,
    },
    'Rahul':{
        'English':80,
        'Maths':95,
        'Science':86,
    }
}
print(report)

{'Alex': {'English': 85, 'Maths': 90, 'Science': 78}, 'Rahul': {'English': 80, 'Maths': 95, 'Science': 86}}

In [14]:
from pprint import pp #pretty print

In [15]:
pp(report)

{'Alex': {'English': 85, 'Maths': 90, 'Science': 78},
 'Rahul': {'English': 80, 'Maths': 95, 'Science': 86}}

In [19]:
fruits['apple']

'red'

In [20]:
report['Alex']

{'English': 85, 'Maths': 90, 'Science': 78}

In [21]:
temp["lucknow"]

[25, 30, 35]

In [22]:
report["Alex"]['English']

85

In [25]:
print(temp['delhi'][0])
print(temp['delhi'][-1])
print('avg temp of delhi', sum(temp['delhi'])/len(temp['delhi']))

30
40
avg temp of delhi 35.0

In [26]:
#all keys of dictionary
print(fruits.keys())

dict_keys(['apple', 'banana', 'cherry', 'orange'])

In [27]:
fruit=list(fruits.keys())
print(fruit)

['apple', 'banana', 'cherry', 'orange']

In [28]:
#all values of a dictionary
print(fruits.values())

dict_values(['red', 'yellow', 'red', 'orange'])

In [29]:
# traverse through keys
for item in fruits:
    print(item)

apple
banana
cherry
orange

In [30]:
# access values using keys
for key in fruits:
    print(fruits[key])

red
yellow
red
orange

In [32]:
# traverse using .items() method
for k,v in fruits.items():
    print(k,v)

apple red
banana yellow
cherry red
orange orange

In [33]:
# traverse only values
for v in fruits.values():
    print(v)

red
yellow
red
orange

In [39]:
# total marks of all students
for student,marks in report.items():
    print(student)
for subject,marks in marks.items():
    print('->',subject,marks)

Alex
Rahul
-> English 80
-> Maths 95
-> Science 86

In [40]:
# there is no method to add a single value to a dictionary(just a single assignment)
fruits['mango']='yellow'
pp(fruits)

{'apple': 'red',
 'banana': 'yellow',
 'cherry': 'red',
 'orange': 'orange',
 'mango': 'yellow'}

In [41]:
#adding small dictionary to a big dictionary
dry_fruits={'Date':'brown','Cashew':'white'}
fruits.update(dry_fruits)
pp(fruits)

{'apple': 'red',
 'banana': 'yellow',
 'cherry': 'red',
 'orange': 'orange',
 'mango': 'yellow',
 'Date': 'brown',
 'Cashew': 'white'}

In [44]:
#get method-error free method to access dict values
print(fruits.get('almond'))
print(fruits.get('Date'))
print(fruits.get('guava','not exists'))

None
brown
not exists

In [45]:
#remove
fruits.pop('banana')

'yellow'

In [46]:
pp(fruits)

{'apple': 'red',
 'cherry': 'red',
 'orange': 'orange',
 'mango': 'yellow',
 'Date': 'brown',
 'Cashew': 'white'}

In [50]:
#sorting on keys
sorted(fruits.items())

[('Cashew', 'white'),
 ('Date', 'brown'),
 ('apple', 'red'),
 ('cherry', 'red'),
 ('mango', 'yellow'),
 ('orange', 'orange')]

In [54]:
sorted(fruits.items(),key=lambda i:i[1])

[('Date', 'brown'),
 ('orange', 'orange'),
 ('apple', 'red'),
 ('cherry', 'red'),
 ('Cashew', 'white'),
 ('mango', 'yellow')]

In [55]:
dict(sorted(fruits.items(),key=lambda i:i[1]))#sorted dictionary

{'Date': 'brown',
 'orange': 'orange',
 'apple': 'red',
 'cherry': 'red',
 'Cashew': 'white',
 'mango': 'yellow'}

In [56]:
clean_fruits={}
for k,v in fruits.items():
    clean_fruits[k.upper()]=v.lower()
    pp(clean_fruits)

{'APPLE': 'red'}
{'APPLE': 'red', 'CHERRY': 'red'}
{'APPLE': 'red', 'CHERRY': 'red', 'ORANGE': 'orange'}
{'APPLE': 'red', 'CHERRY': 'red', 'ORANGE': 'orange', 'MANGO': 'yellow'}
{'APPLE': 'red',
 'CHERRY': 'red',
 'ORANGE': 'orange',
 'MANGO': 'yellow',
 'DATE': 'brown'}
{'APPLE': 'red',
 'CHERRY': 'red',
 'ORANGE': 'orange',
 'MANGO': 'yellow',
 'DATE': 'brown',
 'CASHEW': 'white'}

In [57]:
# comprehension
clean_fruits={k.upper():v.lower() for k,v in fruits.items()}
pp(clean_fruits)

{'APPLE': 'red',
 'CHERRY': 'red',
 'ORANGE': 'orange',
 'MANGO': 'yellow',
 'DATE': 'brown',
 'CASHEW': 'white'}

In [58]:
avg_temp={city: sum(data)/len(data) for city,data in temp.items() }
pp(avg_temp)

{'lucknow': 30.0, 'delhi': 35.0, 'chennai': 23.0}

In [59]:
pp(fruits)

{'apple': 'red',
 'cherry': 'red',
 'orange': 'orange',
 'mango': 'yellow',
 'Date': 'brown',
 'Cashew': 'white'}