In [2]:
from dputils.scrape import Scraper,Tag

In [3]:
url='https://www.flipkart.com/apple-iphone-15-black-128-gb/p/itm6ac6485515ae4?pid=MOBGTAGPTB3VS24W&lid=LSTMOBGTAGPTB3VS24WVZNSC6&marketplace=FLIPKART&q=apple+mobiles&store=tyy%2F4io&spotlightTagId=BestsellerId_tyy%2F4io&srno=s_1_1&otracker=AS_QueryStore_OrganicAutoSuggest_1_7_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_7_na_na_na&fm=search-autosuggest&iid=3f73e15a-c2bd-4eb7-86cc-b449b11a2dd1.MOBGTAGPTB3VS24W.SEARCH&ppt=sp&ppn=sp&ssid=k2jdp93b740000001721542844474&qH=cb603b9543d774e1'
s1=Scraper(url)

In [6]:
heading=Tag('h1',cls='_6EBuvT')
price=Tag(cls='Nx9bqj CxhGGd')
desc=Tag(cls='U+9u4y')
s1.get_data_from_page(heading=heading,price=price,desc=desc)

{'heading': 'Apple iPhone 15 (Black, 128 GB)',
 'price': 'â‚¹65,499',
 'desc': 'Highlights128 GB ROM15.49 cm (6.1 inch) Super Retina XDR Display48MP + 12MP | 12MP Front CameraA16 Bionic Chip, 6 Core Processor Processor'}

In [8]:
items=Tag(cls='cPHDOP col-12-12')
url='https://www.flipkart.com/tyy/4io/~cs-k5r4tck9q2/pr?sid=tyy%2C4io&collection-tab-name=Realme+P1+pro+5G&param=27989&ctx=eyJjYXJkQ29udGV4dCI6eyJhdHRyaWJ1dGVzIjp7InZhbHVlQ2FsbG91dCI6eyJtdWx0aVZhbHVlZEF0dHJpYnV0ZSI6eyJrZXkiOiJ2YWx1ZUNhbGxvdXQiLCJpbmZlcmVuY2VUeXBlIjoiVkFMVUVfQ0FMTE9VVCIsInZhbHVlcyI6WyJKdXN0IOKCuTE2LDk5OSJdLCJ2YWx1ZVR5cGUiOiJNVUxUSV9WQUxVRUQifX0sInRpdGxlIjp7Im11bHRpVmFsdWVkQXR0cmlidXRlIjp7ImtleSI6InRpdGxlIiwiaW5mZXJlbmNlVHlwZSI6IlRJVExFIiwidmFsdWVzIjpbIlJlYWxtZSBQMSBQcm8gNUciXSwidmFsdWVUeXBlIjoiTVVMVElfVkFMVUVEIn19LCJoZXJvUGlkIjp7InNpbmdsZVZhbHVlQXR0cmlidXRlIjp7ImtleSI6Imhlcm9QaWQiLCJpbmZlcmVuY2VUeXBlIjoiUElEIiwidmFsdWUiOiJNT0JHWjhSNlk0RkZGSFFYIiwidmFsdWVUeXBlIjoiU0lOR0xFX1ZBTFVFRCJ9fX19fQ%3D%3D'
s2=Scraper(url)
results=s2.get_repeating_date_from_page(
    target=Tag('body'),
    items=items
    title=Tag(cls='krHvwW')
    price=Tag(cls='XiSiPK AqhsUa'),
    ratings=Tag 
)

In [9]:
import pandas as pd
pd.DataFrame(results).dropna()

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]